.heading-container {
    margin-bottom: 2.5em; // Add space below heading

    .heading-container-inside {
        width: 60%;
        @media(max-width: 639.98px){
            width: 100%;
        }
        h3 {
            color: $black;
            text-align: center;
            font-family: Aeonik;
            font-size: 2.0625rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 0.4em;

        }
    
        p {
            color: $grey-text;
            text-align: center;
            font-family: Aeonik;
            font-size: 1.0625rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5625rem; /* 147.059% */

            @media(max-width: 639.98px){
                font-size: 1rem!important;
            }
        }
    }
}