.small-button{
    display: inline-flex;
    padding: 0.5625rem 1.1875rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    color: var(--white, #FFF);
    font-family: Aeonik;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 150% */

    border-radius: 0.5rem;
    background: $primary-green;

    transition: all 0.3s ease;
}

.small-button:hover{
    color: $primary-green;
    background-color: $light-pink;
}